.container
  .row
    .col-sm-offset-1.col-sm-10
      .text-center
        %h1.title Who Am I? The Myers-Briggs Personality Types
        
        <br><br><br>
        
        %p.title-text A short quiz to determine your MBTI type.
      
        %a{href: '#', id: 'start-quiz', class: 'btn btn-default btn-lg'} Take the Quiz!
      

